.menubar {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 4px 4px 25px rgba(128, 128, 128, 0.344);
  background-color: #eff6fc;
  display: flex;
  justify-content: space-between;
}

.menubar-left {
  height: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#div-list {
  padding-top: 20px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #D1E9F6;
  box-shadow: 4px 4px 25px rgba(128, 128, 128, 0.344);
  border-radius: 20px
}

#main-div {
  padding: 20px;
  margin: 5px;
  height: 100%;

  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F6EACB;
  box-shadow: -4px -4px 25px rgba(128, 128, 128, 0.344);
  border-radius: 20px
}

#setting-div {
  padding-top: 20px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F6EACB;
  box-shadow: -4px -4px 25px rgba(128, 128, 128, 0.344);
  border-radius: 20px;
  padding: 20px;
  display: none;
  flex-direction: row;

  align-items: center;
}

.image-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 5px;
  outline: none;
  padding-top: 4px;
  border-radius: 5px;
  border: 1px solid #179BAE;
  background-color: #179BAE;
}

.image-button:hover {
  background-color: #127c8c;
}

.image-button img {
  width: 15px;
  /* Adjust size as needed */
  height: 15px;
}

@media (max-width: 480px) {
  .menubar {}
}



table {

  min-width: 200px;
  max-height: 100px;
  border-spacing: 0;
  margin-bottom: 20px;
}

.row-value-p {
  margin: 5px;
}

.instance-div{
  background-color: #134B70;display: flex;justify-content: space-between; border-radius: 4px;
  transition: 0.4s;
  margin-top: 5px;
}
.instance-div-image-left{
  margin-left: 5px;height: 20px; width: auto;align-self: center;margin-right: 5px;
}
.instance-div-image-right{
  height: 20px
}
.instance-div-setting-button{
  height: 30px;width: 30px;padding: 0;background-color: #134B70;margin-right: 5px;border: 0;align-self: center;
  border-radius: 4px;
  cursor: pointer;
  z-index: 100;
}
.instance-div-text{
  color: white;
  cursor: pointer;
  
}
.instance-div:hover{
  background-color: #0f3d5c;
}


.instance-div-child{
  padding-left: 30px;display: flex;justify-content: left;
  background-color: #EEEEEE;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.486);
  transition: 0.3s;
}
.instance-div-child-image{
  height: 20px; width: auto;align-self: center;margin-right: 5px;
}
.instance-div-child-text{
  margin: 5px;
}
.instance-div-child:hover{
  background-color: #d0d0d0;
}

.button-class{
  background-color: #8D493A;
  color: white;
  border-radius: 5px;
  border: 0;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  margin-left: 5px;
  transition: 0.3s;
  box-shadow: 4px 4px 20px rgba(128, 128, 128, 0.369);
}

.button-class:hover{
  box-shadow: 4px 4px 20px rgba(84, 84, 84, 0.774);   
}

