/* ul,
#myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-list {
    margin-left: 40px;
    cursor: pointer;
}
.caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */

  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

.menubar {
  width: 100%;
  height: 50px;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.menubar-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 480px) {
  .menubar {
    background-color: yellow;
  }
}
